/* Zend Form Styling */
dl.zend dt, dd { min-height: 30px; }
dl.zend_form dt {
	clear: left;
    float: left;
    text-align: left;
    width: 150px;
}
dl.zend_form dt label.required { font-weight: 600; }
dl.zend_form dd {
	float: left;
	clear: right;
	padding-left: 5px;
}

dl.zend_form dd input {
	width:300px;
}

dl.zend_form dd ul.errors {
	list-style: none;
	padding: 0;
	margin: 0;
}

dl.zend_form dd ul.errors li {
	float: left;
	margin: 0 0.15em;
	font-size: 12px;
	color: #666666;
}
	
.clear {
	clear:both;
}