/* Zend Form Styling */
dl.zend dt, dd { min-height: 30px; }
dl.zend_form dt {
	clear: left;
    float: left;
    text-align: left;
    width: 350px;
    margin-top: 30px;
}
dl.zend_form dt label.required { font-weight: 600; }
dl.zend_form dd {
	float: left;
	clear: right;
	padding-left: 5px;
	margin-top: 30px;
}

dl.zend_form dd input {
	margin-right: 10px;
}

dl.zend_form dd label {
}

dl.zend_form dd ul.errors {
	list-style: none;
	padding: 0;
	margin: 0;
}

dl.zend_form dd ul.errors li {
	float: left;
	margin: 0 0.15em;
	font-size: 12px;
	color: #666666;
}
	
.clear {
	clear:both;
}

body {
	font-family: sans-serif;
	margin: 0 auto;
	width: 800px;
}

h1 {
	font-size: 4em;
	margin: 8px 0;
}

h2 {
	font-size: 1.2em;
	margin: 8px 0;
}

header {
	margin-bottom: 30px;
}

#participantID-element {
	display: none;
}

#participantID-label {
	display: none;
}

textarea {
	width: 300px;
	height: 100px;
}

dd label:last-child {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}





.login{
	background-color: red;
}